<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <!-- <link href="/stylesheets/debug.css" rel="stylesheet" type="text/css"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>
<body>

<!-- Hero Header -->
  <section class="hero has-background-black">
    <div class="hero-body">
        <div class="container center">
          <figure class="image center">
            <img src="https://banner2.cleanpng.com/20180810/kcj/kisspng-stock-market-investment-share-iprovn-health-hack-cheats-amp-hints-cheat-hac-5b6d68a5f17c66.9736943215338968699891.jpg"style="max-width: 160px">
          </figure>
        </div>
    </div>
</section>

  <!-- These are the two columns for my watchlist/portfolio  -->
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="notification">
            <div> Portfolio </div>
            <!-- Portfolio Table -->
            <table class="table is-striped is-fullwidth">
              <thead>
                <tr>
                  <th><abbr title="Symbol">Symbol</abbr></th>
                  <th>Price</th>
                  <th><abbr title="Percent Change">Day's Gain</abbr></th>
                  <th><abbr title="Won">Day's Gain (%)</abbr></th>
                  <th><abbr title="Won">DELETE</abbr></th>
                  </tr>
              </thead>
              <tbody>
                  <!-- looping through the apidata array and placing it in the table -->
                  <% if (apiPort.length !== 0) { %>
                    <% apiPort.forEach(function (i) { %>
                <tr>
                    <td><%=i.symbol%></td>
                    <td><%=i.price%></td>
                    <td><%=i.change%></td>
                    <td><%=i.changesPercentage%></td>
                    <td><form action="/stocks/portfolio/<%=i.symbol%>?_method=DELETE" METHOD="POST">
                      <button>Delete</button>
                    </form></td>
                </tr>
                <% }) %>
                <% } else {%>
                    <div>No items on the watchlist yet!</div>
                <% }%> 
              </tbody>
            </table>
          </div>
        </div>
        <div class="column">
          <div class="notification">
            <div> Watch list</div>
            <table class="table is-striped is-fullwidth">
              <thead>
                <tr>
                  <th><abbr title="Symbol">Symbol</abbr></th>
                  <th>Price</th>
                  <th><abbr title="Percent Change">Day's Gain</abbr></th>
                  <th><abbr title="Won">Day's Gain (%)</abbr></th>
                  <th><abbr title="Won">DELETE</abbr></th>
                  </tr>
              </thead>
              <tbody>
                  <!-- looping through the apidata array and placing it in the table -->
                  <% if (apiWatch.length !== 0) { %>
                    <% apiWatch.forEach(function (i) { %>
                <tr>
                    <td><%=i.symbol%></td>
                    <td><%=i.price%></td>
                    <td><%=i.change%></td>
                    <td><%=i.changesPercentage%></td>
                    <td><form action="/stocks/watch/<%=i.symbol%>?_method=DELETE" METHOD="POST">
                      <button>Delete</button>
                    </form></td>
                </tr>
                <% }) %>
                <% } else {%>
                    <div>No items on the watchlist yet!</div>
                <% }%> 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>