<%- include('partials/head') %>
<%- include('partials/navbar') %>

<% if (user) { %>

    <!-- These are the two columns for my watchlist/portfolio  -->
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="">
              <h1 class="title is-size-4 center"> Portfolio </h1>
              <!-- Portfolio Table -->
              <table class="table is-striped is-fullwidth ">
                <thead>
                  <tr>
                    <th class="has-text-centered"><abbr title="Symbol">Symbol</abbr></th>
                    <th class="has-text-centered">Price</th>
                    <th class="has-text-centered"><abbr title="Days Change">Day's Gain</abbr></th>
                    <th class="has-text-centered"><abbr title="Percentage Change">Day's Gain (%)</abbr></th>
                    <th><abbr title="delete">DELETE</abbr></th>
                    </tr>
                </thead>
                <% if (apiPort.length !== 0) { %>
                  <% for(i=0; i<apiPort.length; i++) { %>
              <tr>
                  <td class="has-text-centered"><%=apiPort[i].symbol%></td>
                  <td class="has-text-centered"><%=apiPort[i].price%></td>
                  <td class="has-text-centered"><span class='change'><%=apiPort[i].change%></span></td>
                  <td class="has-text-centered"><span class='change'><%=apiPort[i].changesPercentage%></span></td>
                  <td class="has-text-centered"><form action="/stocks/portfolio/<%=user.portfolio[i]._id%>?_method=DELETE" METHOD="POST">
                    <button class="button is-small is-danger is-rounded refresh">Delete</button>
                  </form></td>
              </tr>
              <% } %>
              
                <% } else {%>
                  
              <% }%> 
              </table>
            </div>
          </div>
          <div class="column">
            <div class="">
              <h1 class="title is-size-4 center"> Watchlist </h1>
              <table class="table is-striped is-fullwidth">
                <thead>
                  <tr>
                    <th class="has-text-centered"><abbr title="Symbol">Symbol</abbr></th>
                    <th class="has-text-centered">Price</th>
                    <th class="has-text-centered"><abbr title="Percent Change">Day's Gain</abbr></th>
                    <th class="has-text-centered"><abbr title="Won">Day's Gain (%)</abbr></th>
                    <th class="has-text-centered"><abbr title="Won">DELETE</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- looping through the apidata array and placing it in the table -->
                    <% if (apiWatch.length !== 0) { %>
                      <% for(i=0; i<apiWatch.length; i++) { %>
                  <tr>
                      <td class="has-text-centered"><%=apiWatch[i].symbol%></td>
                      <td class="has-text-centered"><%=apiWatch[i].price%></td>
                      <td class="has-text-centered"><span class='change'><%=apiWatch[i].change%></span></td>
                      <td class="has-text-centered"><span class='change'><%=apiWatch[i].changesPercentage%></span></td>
                      <td class="has-text-centered"><form action="/stocks/watch/<%=user.watch[i]._id%>?_method=DELETE" METHOD="POST">
                        <button class="button is-small is-danger is-rounded refresh">Delete</button>
                      </form></td>
                  </tr>
                  <% } %>
                  <% } else {%>
                  <% }%> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>





    <!-- if User is NOT logged in  -->
<% } else { %>
    <!-- These are the two columns for my watchlist/portfolio  -->
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="notification is-warning">
              <h1 class="title is-size-4 center"> StockWatchers! </h1>
              <p class="has-text-centered	has-text-weight-bold">StockerWatchers helps you keep track of stocks that are in your portfolio and tracks stocks that you have an eye on!</p>
              <p class="has-text-centered	has-text-weight-bold"> Login to start tracking now!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
<% } %>

<%- include('partials/stocknews') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>


