<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <!-- <link href="/stylesheets/debug.css" rel="stylesheet" type="text/css"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>
<body>

<!-- Hero Header -->
  <section class="hero has-background-white">
    <div class="hero-body">
        <div class="container center">
          <figure class="image center">
            <img src="https://image.freepik.com/free-vector/buy-sell-concept-design-showing-bull-bear_1017-13716.jpg"style="max-width: 160px">
          </figure>
        </div>
    </div>
</section>
<nav class="navbar is-spaced is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item active center" href="/stocks">Home</a>
    </div>
    <div class="navbar-brand">
      <a class="navbar-item active center" href="/stocks/search">Search</a>
    </div>


  </div>
    <div class="navbar-end">
      <% if (user) { %>
      <a class="navbar-item active center" href="/logout">Log Out</a>
      <% } else { %>
      <a class="navbar-item active center" href="http://localhost:3000/auth/google">Login</a>
      <% } %>
    </div>
</nav>

<% if (user) { %>
    <!-- These are the two columns for my watchlist/portfolio  -->
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="">
              <h1 class="title is-size-4 center"> Portfolio </h1>
              <!-- Portfolio Table -->
              <table class="table is-striped is-fullwidth ">
                <thead>
                  <tr>
                    <th class="has-text-centered"><abbr title="Symbol">Symbol</abbr></th>
                    <th class="has-text-centered">Price</th>
                    <th class="has-text-centered"><abbr title="Days Change">Day's Gain</abbr></th>
                    <th class="has-text-centered"><abbr title="Percentage Change">Day's Gain (%)</abbr></th>
                    <th><abbr title="Won">DELETE</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- looping through the apidata array and placing it in the table -->
                    <% if (apiPort.length !== 0) { %>
                      <% apiPort.forEach(function (i) { %>
                  <tr>
                      <td class="has-text-centered"><%=i.symbol%></td>
                      <td class="has-text-centered"><%=i.price%></td>
                      <td class="has-text-centered"><%=i.change%></td>
                      <td class="has-text-centered	"><%=i.changesPercentage%></td>
                      <td><form action="/stocks/portfolio/<%=i.symbol%>?_method=DELETE" METHOD="POST">
                        <button class = "button is-small is-danger is-rounded ">Delete</button>
                      </form></td>
                  </tr>
                  <% }) %>
                  <% } else {%>
                      <div>No items on the watchlist yet!</div>
                  <% }%> 
                </tbody>
              </table>
            </div>
          </div>
          <div class="column">
            <div class="">
              <h1 class="title is-size-4 center"> Watchlist </h1>
              <table class="table is-striped is-fullwidth">
                <thead>
                  <tr>
                    <th class="has-text-centered"><abbr title="Symbol">Symbol</abbr></th>
                    <th class="has-text-centered">Price</th>
                    <th class="has-text-centered"><abbr title="Percent Change">Day's Gain</abbr></th>
                    <th class="has-text-centered"><abbr title="Won">Day's Gain (%)</abbr></th>
                    <th class="has-text-centered"><abbr title="Won">DELETE</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- looping through the apidata array and placing it in the table -->
                    <% if (apiWatch.length !== 0) { %>
                      <% apiWatch.forEach(function (i) { %>
                  <tr>
                      <td class="has-text-centered"><%=i.symbol%></td>
                      <td class="has-text-centered"><%=i.price%></td>
                      <td class="has-text-centered"><%=i.change%></td>
                      <td class="has-text-centered"><%=i.changesPercentage%></td>
                      <td class="has-text-centered"><form action="/stocks/watch/<%=i.symbol%>?_method=DELETE" METHOD="POST">
                        <button class="button is-small is-danger is-rounded">Delete</button>
                      </form></td>
                  </tr>
                  <% }) %>
                  <% } else {%>
                      <div>No items on the watchlist yet!</div>
                  <% }%> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- if User is NOT logged in  -->
<% } else { %>
    <!-- These are the two columns for my watchlist/portfolio  -->
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="">
              <h1 class="title is-size-4 center"> Portfolio </h1>
            </div>
          </div>
          <div class="column">
            <div class="">
              <h1 class="title is-size-4 center"> Watchlist </h1>
            </div>
          </div>
        </div>
      </div>
    </section>
<% } %>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>


