    <%- include('partials/head') %>
    <!-- navbar, used bulma for CSS -->
    <section class="hero has-background-white">
        <div class="hero-body">
            <div class="container center">
              <figure class="image center">
                <img src="../img/usethis.png"style="max-width: 200px">
              </figure>
            </div>
        </div>
    </section>
    <nav class="navbar is-spaced is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item active center" href="/stocks">Home</a>
        </div>
        <div class="navbar-brand">
          <a class="navbar-item active center" href="/stocks/search">Search</a>
        </div>
      </div>
        <div class="navbar-end">
          <% if (user) { %>
          <a class="navbar-item active center" href="/logout">Log Out</a>
          <% } else { %>
          <a class="navbar-item active center" href="http://localhost:3000/auth/google">Login</a>
          <% } %>
        </div>
    </nav>


<form>
  <div class="field is-grouped">
    <p class="control is-expanded">
      <input class="input" type="text" placeholder="Search for a symbol" name="ticker" id="ticker">
    </p>
    <p class="control">
      <button type="submit" class="button is-info">Submit</button>
    </p>
  </div>
</form>

    <!-- <form>
        <div class="form-group">
          <label>Ticker</label>
          <input type="text" name="ticker" id="ticker">
        </div>
      </form> -->
      <% if (tickerData.length !== 0) { %>

        <div>Symbol:<span id="symbol"><%=tickerData[0].symbol%></span></div>
        <div>Name: <%=tickerData[0].name%></div>
        <div>Price: <%=tickerData[0].price%></div>
        <div>Day low: <%=tickerData[0].dayLow%></div>
        <div>Day high: <%=tickerData[0].dayHigh%></div>
        <div>Open: <%=tickerData[0].open%></div>
        <div>Year high: <%=tickerData[0].yearHigh%></div>
        <div>Year low: <%=tickerData[0].yearLow%></div>

      <%} else {%>
        <div>Price: </div>
        <div>Day low: </div>
        <div>Day high: </div>
        <div>Open: </div>
        <div>Year high: </div>
        <div>Year low: </div>
        <% }%> %>
     
       <button type="submit" class="btn btn-primary" id="watchlist">Add to watchlist</button>
       <button type="submit" class="btn btn-primary" id="portfolio">Add to portfolio</button>
 
      
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/main.js"></script>

</body>
</html>