<!-- This is for the daily stock news -->
		<section class="section">
			<div class="container">
				<div class="columns">
          <% for(i=0; i<3; i++) { %>
					<div class="column">
						<div class="">
                <figure class="image is-200x128">
                  <img src=<%= stockNews[i].image%> >
                </figure>
                <h5 class="title is-4 stoptext"><%= stockNews[i].title%></h5>
                <h6 class="subtitle is-6">Symbol:<%= stockNews[i].symbol%></h6>
                <p class ="stoptext"><%= stockNews[i].text%> ... </p> <a href="<%= stockNews[i].url%>" target="_blank">Learn more</a>
            </div>
          </div>
          <% }%>
        </div>
			</div>
		</section>
